body {
  --error-color: #ff4d4f;
  --error-color-hover: #ff7875;
  --error-color-outline: rgba(255, 77, 79, 0.2);
}

.form-item-explain-error {
  color: var(--error-color);
  font-size: 14px;
  line-height: 1em;
  margin-top: 4px;
}

input {
  outline: 0;
  padding: 4px 11px;
}

.form-item-control-input {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  &:focus {
    border-color: #1890ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}
.form-item-control-input-error {
  border-color: #ff4d4f;
  background-color: #ffffff;
  &:focus {
    border-color: var(--error-color-hover);
    box-shadow: 0 0 0 2px var(--error-color-outline);
  }
}
